<footer class="navbar navbar-light justify-content-between flex-row-reverse" purpose="page-footer">

  <div class="nav" purpose="footer-nav">

    <small class="nav-item d-inline-block">
      <a class="nav-link text-info px-1 px-sm-3" href="/contact">
        <%=__('Contact us')%>
      </a>
    </small>

    <small class="nav-item d-inline-block">
      <a class="nav-link text-info px-1 px-sm-3" href="/legal/terms">
        <span>
          <%=__('Terms of use')%>
        </span>
      </a>
    </small>

    <small class="nav-item d-inline-block">
      <a class="nav-link text-info px-1 px-sm-3" href="/legal/privacy">
        <%=__('Privacy')%><span class="d-none d-sm-inline">&nbsp;<%=__('Policy')%>
          </span>
      </a>
    </small>

    <% if(me) { %>
      <small class="nav-item d-inline-block">
        <a class="nav-link text-info px-1 px-sm-3" href="/logout">
          <%=__('Sign out')%>
        </a>
      </small>
    <% } %>

  </div>

  <small purpose="footer-copy">
    Copyright &copy; <%= sails.config.custom.platformCopyrightYear %>

      <a target="_blank" href="NEW_APP_COMPANY_ABOUT_HREF">MY_CHURCHS_NAME</a>

      <br class="d-block d-sm-none" />

      <%= __('All rights reserved')%>.
  </small>

</footer>
