<header class="fixed-top cc-navbar">
  <nav class="navbar navbar-expand-lg mx-4 my-2">
    <div class="container-fluid gap-2">
      <a class="navbar-brand" href="#">
        <img src="/images/hero-cloud.png" alt="Cuidado Cristao logo" height="24" />
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse gap-2" id="navbarSupportedContent">
        <!-- LOGGED-IN NAVIGATION -->
        <% if(me) { %>
          <a class="nav-link" href="/contact">
            <%=__('Help')%>
          </a>

          <div class="nav-item dropdown" aria-labelledby="navbarDropdown">
            <a class="nav-link dropdown-toggle" id="header-account-menu-link" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <%= __('Account') %>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="/account">
                <%=__('Settings')%>
              </a>

              <a class="dropdown-item" href="/logout">
                <%=__('Sign out')%>
              </a>
            </div>
          </div>

          <!-- LOGGED-OUT NAVIGATION -->
        <% } else { %>
            <a class="nav-link" href="/faq">
              <%=__('FAQ')%>
            </a>

            <a class="nav-link" href="/login">
              <%=__('Log in')%>
            </a>

            <a class="nav-link" href="/signup">
              <%=__('Sign up')%>
            </a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
