<div id="social-search" class="container" v-cloak>

    <div class="display-3"><%=__('Social Search')%></div>
    <hr>

    <div class="display-6">
        <%=__('We need volunteers to help us on...')%>
    </div>

    <ul class="list-group mt-2">
        <li class="list-group-item"><button class="btn btn-sm btn-primary"><%=__('Join us')%></button> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
        <li class="list-group-item"><button class="btn btn-sm btn-primary"><%=__('Join us')%></button> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
        <li class="list-group-item"><button class="btn btn-sm btn-primary"><%=__('Join us')%></button> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
        <li class="list-group-item"><button class="btn btn-sm btn-primary"><%=__('Join us')%></button> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
        <li class="list-group-item"><button class="btn btn-sm btn-primary"><%=__('Join us')%></button> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
        <li class="list-group-item"><button class="btn btn-sm btn-primary"><%=__('Join us')%></button> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
        <li class="list-group-item"><button class="btn btn-sm btn-primary"><%=__('Join us')%></button> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
    </ul>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
