<div id="welcome" v-cloak>
    <account-notification-banner></account-notification-banner>
    <div class="container pt-5 pb-5">
        <h1><%= __('Welcome') %> <%= me.fullName %> !</h1>
        <hr/>
        <p>
 <% if(me.isSuperAdmin) { %>
            <span class="text-primary"> <%= __('Voce esta autenticado como SuperAdmin') %> </span>
        <div class="buttons">
            <a class="btn btn-primary" href="/church/search-church"><%= __('Gerenciar Igrejas') %></a>
            <a class="btn btn-primary" href="/classe/search-classe"><%= __('Gerenciar Celulas') %></a>

        </div>
  <% } %>
        </p>
        <div class="buttons">
            <a class="btn btn-primary" href="/account/profile"><%= __('Update my email') %></a>
            <button type="button" class="btn btn-primary"
                    @click="toogleChurchList()"><%= __('Joint to a Church') %></button>
        </div>


        <div class="display-5 mt-2"><%= __('Joined to a Church') %></div>
        <div class="mt-2" v-if="churchs.length < 1">
            <span class="text-warning"><%= __('Your are not member of any Church yet') %>!</span>
        </div>

        <ul class="list-group mt-3">
            <li class="list-group-item" v-for="church in churchs">{{church.tipo}}: {{church.fullName}}</li>
        </ul>

        <div v-if="showChurchList">

            <div class="card mt-2">
                <div class="card-header"><%= __('Church') %> <%= __('Select') %></div>
                <div class="card-body">
                    <select name="church" id="church" class="form-select" v-model="churchSelecionadaId">
                        <% temples.forEach(temple=> { %>
                            <option value="<%= temple.id %>" label="<%= temple.fullName %>"></option>
                        <% }) %>
                    </select>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            @click="selecionar()"><%= __('Select') %></button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"
                            @click="goToCreateNewChurch()"><%= __('Create') %> <%= __('New') %></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('Close') %></button>
                </div>
            </div>


        </div>

    </div>

    <router-view></router-view>


</div>

<!--modal choose one church -->
<!-- Button trigger modal -->


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
