<div id="welcome" v-cloak>

    <account-notification-banner></account-notification-banner>

    <div class="container-fluid px-5">

        <div class="container">

            <span class="text-info fw-bolder">
                <%= __('Modules') %>
            </span>

            <div class="row g-0">

                <div class="card m-2 col-sm-2" v-for="service in services">
                    <a class="text-decoration-none" :href="service.href">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{service.title}}
                            </h5>
                            <small class="card-text text-muted">{{service.description}}</small>
                        </div>
                    </a>
                </div>
                
                <%
                // model/User.js
                // ...
                // profile: {
                //     type: 'string',
                //             isIn: ['congregant','member', 'deacon', 'priest', 'administrator'],
                //             defaultsTo: 'congregant'
                // },
                %>

            </div>

        </div>

        <div class="container">

            <span class="text-info fw-bolder">
                <%= __('My Churches') %>
            </span>

            <div class="row g-0">

                <!-- Church user belongs to -->

                <div v-if="temples.length < 1" class="text-danger fw-bolder">
                    <%= __('No Main Church created yet! Please, create one at [Manage Churchs]') %>
                </div>

                <% if(myChurchs.length > 0) { %>
                    <div class="card m-2 col-sm-2" v-for="church in myChurchs">
                        <div class="link-primary text-decoration-none pointer" @click="toogleChurchList()">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= __('Change') %> <%=__(`Church`)%> {{church.shortName}}
                                </h5>
                                <small class="card-text text-muted">{{church.address}}</small>
                            </div>
                        </div>
                    </div>

                <% } else { %>

                    <div class="card m-2 col-sm-2">
                        <div class="link-primary text-decoration-none pointer" @click="toogleChurchList()">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= __('Joint to a Church') %>
                                </h5>
                                <small class="card-text text-muted"><%= __(`Select a Church to join and become a prayer`) %></small>
                            </div>
                        </div>
                    </div>

                <% } %>
            </div>

        </div>

        <div class="container">

            <span class="text-info fw-bolder">
                <%= __('Available Groups') %>
            </span>

            <!-- List of groups user belongs to -->
            <div class="row g-0">
                <div class="card m-2 col-sm-2">
                    <div class="link-primary text-decoration-none pointer" @click="toogleGroupList()">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= __('Joint to a Group') %>
                            </h5>
                            <small class="card-text text-muted"><%= __(`Select a Group to join and learn`) %></small>
                        </div>
                    </div>
                </div>

                <div class="card m-2 col-sm-2" v-for="group in user.classrooms">
                    <div class="link-primary text-decoration-none pointer" @click="leave(group)">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= __('Leave') %> <%=__(`Group`)%> {{group.name}}
                            </h5>
                            <small class="card-text text-muted">{{group.local}}</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>

            <hr>

            <section id="join-church">
                <div v-if="showChurchList">
                    <div class="card mt-2">
                        <div class="card-header">
                            <%= __('Church') %>
                            <%= __('Select') %>
                        </div>
                        <div class="card-body">
                            <select name="church" id="church" class="form-select" v-model="churchSelecionadaId">
                                <% temples.forEach(temple=> { %>
                                    <option value="<%= temple.id %>"
                                            label="<%= temple.fullName %> - <%= temple.tipo %>">
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary m-1" data-bs-dismiss="modal"
                                    @click="selecionarChurch(churchSelecionadaId)">
                                <%= __('Select') %>
                            </button>
                            <a href="/welcome" class="btn btn-primary">
                                <%= __('Close') %>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="join-classroom">
                <div v-if="showGroupList">
                    <div class="card mt-2">
                        <div class="card-header">
                            <%= __('Group') %>
                            <%= __('Select') %>
                        </div>
                        <div class="card-body">
                            <select name="group" id="group" class="form-select" v-model="groupSelecionadaId">
                                <% groups.forEach( group=> { %>
                                    <option value="<%= group.id %>" label="<%= group.name %>"></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary m-1" data-bs-dismiss="modal"
                                    @click="selecionarGroup(groupSelecionadaId)">
                                <%= __('Select') %>
                            </button>
                            <a href="/welcome" class="btn btn-primary">
                                <%= __('Close') %>
                            </a>
                        </div>
                    </div>
                </div>

            </section>

        </div>

        <message id="msg" v-on:close="update()" :severity="message.severity" v-bind:summary="message.summary"
                 :details="message.details"></message>

        <router-view></router-view>


    </div>


</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
