<div id="welcome" v-cloak>

    <account-notification-banner></account-notification-banner>

    <div class="container pt-5 pb-5">
        <div class="display-3"><%= __('Welcome') %> <%= me.fullName %> !</div>
        <hr/>

        <% if(me.isSuperAdmin) { %>

            <span class="text-info fw-bolder"> <%= __('As you are logged as a SuperAdmin, you can...') %> </span>
            <div class="buttons mt-2">
                <a class="btn btn-primary m-1" href="/church/search-church">      <%= __('Manage Churchs') %></a>
                <a class="btn btn-primary m-1" href="/classe/search-classe">      <%= __('Manage Groups') %></a>
                <a class="btn btn-primary m-1" href="/resource/search-resource">  <%= __('Manage Resources') %></a>
                <a class="btn btn-primary m-1" href="/sermon/search-sermon">      <%= __('Manage Sermoes') %></a>
                <a class="btn btn-primary m-1" href="/user/search-user">          <%= __('Manage Users') %></a>
                <a class="btn btn-primary m-1" href="/social/social-search">      <%= __('Manage Social Service') %></a>
                <a class="btn btn-primary m-1" href="/search-faq">                <%= __('Manage FAQ') %></a>
            </div>

            <hr>

        <% } %>

        <% if(me.profile) {  %>

            <span class="text-info fw-bolder"> <%= __('As you are also a(n) %s, you can...', me.profile.toUpperCase()) %> </span>
            <div class="buttons mt-2">
                <button :disabled="me.profile!=='administrator'" class="btn btn-primary m-1" >       <%= __('Manage Contributions') %></button>
                <button :disabled="me.profile!=='priest'"        class="btn btn-primary m-1">        <%= __('Print Members Reports') %></button>
                <button :disabled="me.profile!=='deacon'"        class="btn btn-primary m-1">        <%= __('Manage Cristian Cares') %></button>
                <button :disabled="me.profile!=='member'"        class="btn btn-primary m-1">        <%= __('Print Own List of Contribution') %></button>
                <button :disabled="me.profile!=='congregant'"    class="btn btn-primary m-1">        <%= __('Ask to guidelines') %></button>
            </div>

            <hr>

        <%  } %>
        <span class="text-info fw-bolder"> <%= __('As a %s special user, you can...', me.emailStatus) %> </span>
        <div class="buttons mt-2'">
            <a class="btn btn-primary m-" href="/account/profile"><%= __('Update my email') %></a>
            <!-- Only confirmed users can Joint to -->
            <button :disabled="me.emailStatus!=='confirmed'" type="button" class="btn btn-primary m-1" @click="toogleChurchList()"><%= __('Joint to a Church') %></button>
            <button :disabled="me.emailStatus!=='confirmed'" type="button" class="btn btn-primary m-1" @click="toogleGroupList()"><%= __('Joint to a Group') %></button>
        </div>

        <hr>
        <div v-if="temples.length < 1"
             class="text-danger fw-bolder"><%= __('It look like there is no Main Church created yet! Please, do create the first one at [Manage Churchs]') %></div>

        <div class="display-5 mt-2"><%= __('Joined to...') %></div>

        <section id="join-church">

            <div class="mt-2" v-if="myChurchs.length < 1">
                <span class="text-danger fw-bolder"><%= __('Your are not member of any Church yet') %>!</span>
            </div>
            <ul class="list-group mt-3">
                <li class="list-group-item" v-for="church in myChurchs"><span class="display-6"><%=__('Church')%></span> {{church.tipo}}: {{church.fullName}}</li>
            </ul>

            <div v-if="showChurchList">
                <div class="card mt-2">
                    <div class="card-header"><%= __('Church') %> <%= __('Select') %></div>
                    <div class="card-body">
                        <select name="church" id="church" class="form-select" v-model="churchSelecionadaId">
                            <% temples.forEach(temple=> { %>
                                <option value="<%= temple.id %>"
                                        label="<%= temple.fullName %> - <%= temple.tipo %>"></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary m-1" data-bs-dismiss="modal"
                                @click="selecionarChurch(churchSelecionadaId)"><%= __('Select') %></button>
                        <a href="/welcome" class="btn btn-primary"><%= __('Close') %></a>
                    </div>
                </div>
            </div>

        </section>

        <section id="join-classroom">

            <div class="mt-2" v-if="user.classrooms?.length < 1">
                <span class="text-danger fw-bolder"><%= __('Your are not member of any Group yet') %>!</span>
            </div>
            <ul class="list-group mt-3" v-if="user.classrooms?.length > 0">
                <li class="list-group-item" v-for="group in user.classrooms">
                    <span class="display-6"><%=__('Group')%></span> {{group.name}}
                    <button class="btn btn-primary" @click="leave(group)"> <%=__('Leave')%> </button>
                </li>
            </ul>

            <div v-if="showGroupList">
                <div class="card mt-2">
                    <div class="card-header"><%= __('Group') %> <%= __('Select') %></div>
                    <div class="card-body">
                        <select name="group" id="group" class="form-select" v-model="groupSelecionadaId">
                            <% groups.forEach( group => { %>
                                <option value="<%= group.id %>"
                                        label="<%= group.name %>"></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary m-1" data-bs-dismiss="modal"
                                @click="selecionarGroup(groupSelecionadaId)"><%= __('Select') %></button>
                        <a href="/welcome" class="btn btn-primary"><%= __('Close') %></a>
                    </div>
                </div>
            </div>

        </section>

    </div>

    <message id="msg" v-on:close="update()" :severity="message.severity" v-bind:summary="message.summary"
             :details="message.details"></message>

    <router-view></router-view>


</div>

<!--modal choose one church -->
<!-- Button trigger modal -->


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
