<div id="privacy">
    <div class="container pt-5 pb-5">
        <div class="display-3"><%=__('Terms of Service')%></div>

        <p>
            <%=__('By accessing the Service, you consent to the collection, use, and disclosure of your personal information as explained in this privacy policy. This Privacy Policy is incorporated into and subject to the Terms of Service, which can be accessed here. Your use of the Service and any information you provide through the Service is subject to the terms of this Privacy Policy and our Terms of Service. Any doubt? Call us by ')%><a href="/contact"><%-__('Contact Form')%></a>
        </p>

        <h3 class="text-warning">
            [You - developer - must to change it as you want to]
        </h3>

        <hr/>

        <p><strong><%=__('Date privacy policy last updated at')%>: DATE_PRIVACY_POLICY_LAST_UPDATED.</strong></p>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
