<div id="terms">
    <div class="container pt-5 pb-5">
        <div class="display-3"><%=__('Terms of Service')%></div>

        <p>
           <%=__('There are a few simple ground rules that you will need to agree to before using this software. Following these rules is a mandatory part of using our app, so if you have any questions about them, please send a message to us by ')%><a href="/contact"><%-__('Contact Form')%></a>
        </p>

            <h3 class="text-warning">
                [You - developer - must to change it as you want to]
            </h3>

        <hr/>
        <p><strong><%=__('Date terms last updated at')%>: DATE_TERMS_LAST_UPDATED.</strong></p>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
