<div id="search-classe" class="container" v-cloak>

    <div class="display-3"><%=__('Group Search')%></div>
    <hr>
    <div class="display-5"><%=__('My Groups')%></div>
    <ul class="list-group mt-2">
        <li class="list-group-item" v-for="celula in classes" > <button class="btn btn-sm btn-primary"> <em class="fa fa-sign-out" title="<%=__('Leave')%>"></em><%=__('Leave')%> </button> {{celula.name}}</li>
    </ul>
    <div class="display-5"><%=__('Groups of my Church')%></div>
    <ul class="list-group mt-2">
        <li class="list-group-item" v-for="celula in classes" > <button class="btn btn-sm btn-primary"> <em class="fa fa-sign-in" title="<%=__('Enter')%>"></em><%=__('Enter')%> </button> {{celula.name}}</li>
    </ul>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
