<div id="faq" class="container">

    <div class="display-2 fw-bolder">
        <%= __(`Title`) %>
    </div>
    <em>
        <%= __(`Welcome`) %>
        <%= __(`A brand new app.`) %>
    </em>
    <hr>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <div class="display-5">
        <strong>
            <%= __(`What`) %>
        </strong>:

    </div>
    <div class="display-6">
        <%= __(`What is it`) %>

    </div>
    <div class="display-5">
        <strong>
            <%= __(`Who`) %>
        </strong>:
    </div>
    <div class="display-6">
        <%= __(`Who should use it`) %>

    </div>
    <div class="display-5">
        <strong>
            <%= __(`How`) %>
        </strong>:
    </div>

    <div class="display-6">
        <%=__('You can use this system on a computer, tablet or mobile phone')%>.
        <%=__('You can access with congregant, member, deacon, pastor, or administrator')%>
    </div>

    <div class="text-center mt-5">
        <span><a href="/faq"><%=__('Frequent Asked Questions')%></a> | <a href="/login"><%=__('Enter')%></a> | <a
                    href="/signup"><%=__('Signup')%></a></span>
    </div>



</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
