<div id="faq" class="container">

    <div class="display-2 fw-bolder">
        <%= __(`Title`) %>
    </div>
    <em>
        <%= __(`Welcome`) %>
        <%= __(`A brand new app.`) %>
    </em>
    <hr>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <div class="display-5">
        <strong>
            <%= __(`What`) %>
        </strong>:

    </div>
    <div class="display-6">
        <%= __(`What is it`) %>

    </div>
    <div class="display-5">
        <strong>
            <%= __(`Who`) %>
        </strong>:
    </div>
    <div class="display-6">
        <%= __(`Who should use it`) %>

    </div>
    <div class="display-5">
        <strong>
            <%= __(`How`) %>
        </strong>:
    </div>

    <div class="display-6">
        <%=__('You can use this system on a computer, tablet or mobile phone')%>.
        <%=__('You can access with congregant, member, deacon, pastor, or administrator')%>
    </div>

    <hr>

    <p>This FAQ page is available in English and Brazilian Portuguese Only</p>
    <p>Esta página FAQ está disponível somente em Inglês e Português do Brazil</p>

    <div class="row mt-2">
        <div class="col m-1 border border-1 border-primary">
        <h3 class="text-primary">English</h3>
            <ol>
                <li v-for="faq in listEnglish" ><span class="fw-bolder">{{faq.question}}</span>: <em>{{faq.answer}}</em></li>
            </ol>
        </div>
        <div class="col m-1 border border-1 border-primary">
            <h3 class="text-primary">Português</h3>
            <ol>
                <li v-for="faq in listPortuguese" ><span class="fw-bolder">{{faq.question}}</span>: <em>{{faq.answer}}</em></li>
            </ol>
        </div>

    </div>



</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
