<div id="faq" class="container">

    <div class="display-3 fw-bolder">
        <%= __(`Cristian Care`) %>
    </div>
    <div class="">
        <em class="text-start"><%= __(`Welcome`) %>  </em>
        <em class="position-absolute end-0"> <a href="/projeto/overview-en"><%=__('About The Project')%></a></em>
    </div>
    <hr>    

    <div class="display-6">
        <%=__('You can use this system on a computer, tablet or mobile phone')%>.
        <%=__('You can access with congregant, member, deacon, priest, or administrator')%>
    </div>
    <hr>

    <p>This FAQ page is available in English and Brazilian Portuguese Only</p>
    <p>Esta página FAQ está disponível somente em Inglês e Português do Brasil</p>

    <div class="row mt-2">
        <div class="col m-1 border border-1 border-primary">
        <h3 class="text-primary">English</h3>
            <ol>
                <li v-for="faq in listEnglish" ><span class="fw-bolder">{{faq.question}}</span>: <em>{{faq.answer}}</em></li>
            </ol>
            <hr>
            <%- include('faq-plus.ejs') %>
        </div>
        <div class="col m-1 border border-1 border-primary">
            <h3 class="text-primary">Português</h3>
            <ol>
                <li v-for="faq in listPortuguese" ><span class="fw-bolder">{{faq.question}}</span>: <em>{{faq.answer}}</em></li>
            </ol>
            <hr>
            <%- include('faq-plus-br.ejs') %>
        </div>

    </div>



</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
