<div id="homepage" class="container" v-cloak>

  <div class="display-2 fw-bolder">
    <%= __(`homepage.title`) %>
  </div>
  <em>
    <%= __(`Welcome`) %>
      <%= __(`A brand new app.`) %>
  </em>
  <hr>
  <p>
  </p>
  <p>
  </p>
  <p>
  </p>
  <div class="display-5">
    <strong>
      <%= __(`homepage.what`) %>
    </strong>:

  </div>
  <div class="display-6">
    <%= __(`homepage.whatIsIt`) %>

  </div>
  <div class="display-5">
    <strong>
      <%= __(`homepage.who`) %>
    </strong>:
  </div>
  <div class="display-6">
    <%= __(`homepage.whoShouldUseIt`) %>

  </div>
  <div class="display-5">
    <strong>
      <%= __(`homepage.how`) %>
    </strong>:
  </div>

  <div class="display-6">
    <%=__('Voce pode utilizar este sistema em um computador, tablet ou celular')%>.
    <%=__('Voce pode acessar com congregado, membro, diacono, pastor ou administrador')%>
  </div>

    <div class="text-center mt-5">
        <span><a href="/faq"><%=__('Perguntas Frequentes')%></a> | <a href="/login"><%=__('Entrar')%></a> | <a
                    href="/signup"><%=__('Cadastrar-se')%></a></span>
    </div>



</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
