<div id="homepage" class="container" v-cloak>

  <div class="display-3">
    <%= __(`homepage.title`) %>

  </div>
  <em>
    <%= __(`Welcome`) %>
      <%= __(`A brand new app.`) %>
  </em>
  <hr>
  <p>
  </p>
  <p>
  </p>
  <p>
  </p>
  <h4>
    <%= __(`homepage.whatIsIt`) %>
  </h4>
  <h4>
    <%= __(`homepage.whoShouldUseIt`) %>

  <h4>

  <h4>
    <a href="/faq">
      <%= __(`homepage.howToUseIt`) %>
    </a>

  </h4>


</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>